@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.hero {
  background-image: url("/hero-bg.png");
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.cto {
  background-image: url("/cto-bg.png");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  position: relative;
  height: 400px;
}

.cto::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("/cto-overlay.png");
  height: 100%;
  width: 100%;
}

.volunteer {
  background-image: url("/volunteer_.png");
  background-repeat: no-repeat;
  background-position: top;
}
